<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
        body {
            background-color: #bec4ca;
            padding-bottom: 60px; /* Espacio para el footer */
        }
        .card {
            margin: 10px;
        }
        footer {
            background-color: #343a40;
            color: white;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar has-background-dark">
        <div class="navbar-brand">
            <a class="navbar-item has-text-white" href="{% url 'cliente' %}">Barbería Clásica</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-text-white">
                    {% if request.session.user_id %}
                        <span>{{ request.session.nombre }}</span>
                    {% else %}
                        <span>Invitado</span>
                    {% endif %}
                </div>
                <div class="navbar-item">
                    <a class="button is-danger" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-4">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <h5 class="title">Agendar Cita</h5>
                        <a href="{% url 'agendarcita' %}" class="button is-primary">Agendar</a>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <h5 class="title">Ver Registro de Citas</h5>
                        <a href="{% url 'ver_registro' %}" class="button is-primary">Ver Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2024 Barbería. Todos los derechos reservados.
    </footer>

</body>
</html>
